@import 'fonts/leaguegothic/stylesheet.css';
@import 'fonts/lindenhill/stylesheet.css';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


body {
    font-family: 'League Gothic';
    font-size: 14px;
}

.image {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../reunion.jpg');
    background-position: center center;
    @media screen and (max-width: 768px) {
        background-image: url('../reunion-mobile.jpg');
    }
}
.header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 4%;
    .md {
        font-size: 8em;
        line-height: 1;
        @media screen and (max-width: 768px) {
            font-size: 5.5em;
        }
    }
    .th {
        font-size: 20px;
        vertical-align: top;
    }
}

.battles {
    text-align: center;
    margin: 5% auto;
    text-transform: uppercase;
    font-size: 1.3em;
    color: #fcfcfc;
}
.name {
    font-size: 1.8em;
    width: 100%;
    text-align: center;
    margin: 2% auto;
    @media screen and (max-width: 768px) {
        font-size: 1.4em;
    }
}
.contact {
    font-family: 'LindenHill';
    position: fixed;
    width: 100%;
    text-align: center;
    left: 1%;
    bottom: 0;
    font-size: 1.5em;
    margin: 0;
    @media screen and (max-width: 768px) {
        font-size: 1.2em;
        bottom: 4%;
        // position: inherit;
        // margin: 0;
        // margin-top: 71%;
        div {
            padding: 0;
            width: 100%;
        }
    }
}